.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 2rem;
    
  }
  .home-CBTECH {
    height: 80%;
    margin-top: 2rem;
    width: 80%;;
  }
  .home-CBTECH img {
    height: auto;
    max-width: 100%;
  }
 
  .home-logo {
    width: 7rem;
    height: 7rem;
    animation: spin 20s linear infinite;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #1f2937;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* Tablet styles */
@media (max-width: 800px) {
  .page {
    padding: 1.5rem;
  }
  .home-logo {
    margin-top: 2rem;
  }
  .page-icon {
    width: 5rem;
    height: 5rem;
  }

  .page h1 {
    font-size: 1.75rem;
  }

  .page p {
    font-size: 0.9rem;
  }
}

/* Smartphone styles */
@media (max-width: 480px) {
  .page {
    padding: 1rem;
  }

  .page-icon {
    width: 4rem;
    height: 4rem;
  }

  .page h1 {
    font-size: 1.5rem;
  }

  .page p {
    font-size: 0.8rem;
  }
}